.roomHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.left{
    display: flex;
    align-items: center;
}

.heading{
    font-size: 20px;
    font-weight: bold;
}

.searchBox{
    background-color: #262626;
    border-radius: 20px;
    margin-left: 20px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    min-width: 300px;
}

.searchInput{
    border: transparent;
    color: #fff;
    background: none;
    outline: none;
    padding: 10px;
    width: 100%;
}

.heading{
    position: relative;
}

.heading:after{
    content: '';
    position: absolute;
    bottom: -10px;
    border-radius: 10px;
    width: 60%;
    height: 4px;
    background-color: #0077ff;
    left: 0;
}

.startRoomButton{
    display: flex;
    align-items: center;
    background: #20bd5f;
    padding: 5px 20px;
    border-radius: 20px;
    color: #fff;
}

.startRoomButton span{
    font-size: 16px;
    margin-left: 10px;
}

.startRoomButton:hover{
    background: #0f6632;
}

.roomList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 60px;
}